{
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb", "airbnb-typescript", "plugin:@typescript-eslint/recommended"],
  "parserOptions": {
    "project": "./tsconfig.json",
    "requireConfigFile": false
  },
  "ignorePatterns": [".eslintrc.js", "webpack.base.js", "webpack.dev.js", "webpack.prod.js", "node_modules", "static"],
  "rules": {
    "react/function-component-definition": "off",
    "import/no-extraneous-dependencies": "off",
    "object-curly-newline": "off",
    "react/jsx-props-no-spreading": "off",
    "react/require-default-props": "off",
    "consistent-return": "off",
  }
}