.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: var(--primary-bg-color);
}

.logo {
  width: auto;
  padding-left: 10px;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}