.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: var(--primary-bg-color);
}

.right-side {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: auto;
  padding-left: 10px;
  border-radius: 2%
}

.navigation ul {
  display: flex;
  align-items: center;
  gap: 10px;
}